@media (max-width: 376px) {
body{
    overflow-x: hidden;

    }
.center {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    max-width: 376px;
    margin: 0 auto;
    box-sizing: border-box;
    }
.header{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(225, 255, 143);
    overflow: hidden;
    &__stars{
        display: none;
    }
    &__star2{
        display: flex;
        position: absolute;
        overflow: hidden;
        left: 37px;
        top: 94px;
    }
    &__star3{
        display: flex;
        position: absolute;
        overflow: hidden;
        left: 91px;
        top: 64px;

    }
    &__star4{
        display: flex;
        position: absolute;
        overflow: hidden;
        right: 34px;
        bottom: 79px;
    }
    &__star5{
        display: flex;
        position: absolute;
        overflow: hidden;
        right: 86px;
        bottom: 125px;

    }
    &__main-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title-mobile{
        height: 196px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 147px;
        padding-bottom: 24px;
    }
    &__text-mobile{
        color: rgba(32, 32, 39, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        padding-bottom: 36px;
    }

    &__star-big{
        display: none;
    }
    &__star-mobile{
        display: flex;
        position: absolute;
        overflow: hidden;
        left: 230px;
        top: -110px;
        
    }
    &__title{
        display: none;
    }
    &__text{
        display: none;
    }
    &__button{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    &__btn{
        width: 285px;
        height: 55px;
        color: rgba(32, 32, 39, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
    }
    &__link{
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
}
.main{
    display: none;
}
.container{
    &__title{
        color: rgba(255, 255, 255, 1);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        padding-top: 48px;
        margin-bottom: 16px;
    }
    &__box{
        display: none;
    }
    &__box-mobile{
        display: flex;
        justify-content: center;
        width: 100%;

    }
    &__block-mobile{
        width: 100%;
        max-width: 341px;

    }
    &__background-mobile{
        background-color: rgb(173, 97, 255);
        height: 285px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        overflow: hidden;
        position: relative;
    }
    &__background-mobile-big{
        background-color: rgb(255, 255, 255);
        height: 285px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        overflow: hidden;
        position: relative;
    }
    &__img-mobile-big{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    &__img-mobile{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        pointer-events: none;
    }
    &__img-sml-mobile{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__img-sml-mobile1{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -65%);
    object-fit: cover;
    pointer-events: none;
  }
    &__footer-mobile{
        display: flex;
        flex-direction: column;
        padding-top: 29px;
        padding-bottom: 32px;
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    &__name-mobile{
        color: rgba(32, 32, 39, 1);
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
        margin-left: 21px;
        
    }
    &__text-mobile{
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 32px;
        margin-left: 21px;
    }
    &__btn-mobile{
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        width: 285px;
        height: 55px;
       margin-left: 21px;
    }
    &__link-mobile{
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        font-weight: 600;
    }
}
.footer{
    margin-top: 10px;
    height: 100px;
    &__text{
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-weight: 600;
        padding-top: 40px;
    }
}
}