.header{
    background-image: url(./dekstop_img/header_img.jpeg);
    position: relative;
}
.header-star{
    position: absolute;
}
.header-down{
    background-color: rgb(188, 236, 48);
    display: flex;

}
.header__tittle{

}
.header__text{

}
.header__btn{

}
.header__star{

}
.header-down{

}
.header-down__text{

}
.header-down__img{

}
.main{

}
.main__info{

}
.main__tittle{

}
.main__text{

}
.games{

}
.games__block{

}
.container{

}
.container__block{

}
.footer{

}
.footer__text{
    
}