* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(32, 32, 39);
  }


.header{
  max-width: max;
  background-image: url(./dekstop_img/header_img.jpeg);
  position: relative;
  overflow: hidden;
  &__star-big{
    position: absolute;
    overflow: hidden;
    top: -300px;
    right: -400px;
  }
  &__title{
    padding-top: 45px;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    color: rgb(32, 32, 39);

  }
  &__text{
    padding-top: 24px;
    max-width: 690px;
    padding-bottom: 48px;
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    
  }
  &__btn{
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    margin-bottom: 100px;
  }
  &__btn:hover{
    background: rgb(255, 255, 255);
    cursor: pointer;
  }
  &__link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__link:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

}

.main{
  overflow: hidden;
  position: relative;
  &__star{
    position: absolute;
    overflow: hidden;
    top: 25%;
    left: 87%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  &__star-mini1{
    position: absolute;
    top: 760px;
    left: 20px;
  }
  &__info{

  }
  &__title{
    padding-top: 94px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 24px;
  }
  &__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(255, 255, 255);
    
  }
}

.games{

  padding-top: 122px;
  display: flex;
  gap: 32px;
  margin-bottom: 96px;
  &__container{
    width: 378px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__block{
    border-radius: 30px;
    border: transparent;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2 px 8px rgba (0,0,0,0,1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    &_lrg{
      height: 512px;
    }
    &_sml{
      height: 473px;
    }
  }
  &__block:hover{
    transform: scale(1.05);
    
  }
  &__background{
    height: 314px;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    &_one{
      background-color: rgb(173, 97, 255);
    }
    &_two{
      background-color: rgb(253, 173, 0);
    }
    &_three{
      background-color: rgb(86, 94, 239);
    }
    &_four{
      background-color: rgb(39, 26, 88);
    }
    &_five{
      background-color: rgb(153, 209, 0);
    }
    &_six{
      background-color: rgb(39, 26, 88);
    }
  }
  &__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__img-sml{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__img-emo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 32px 32px 36px 32px;
  }
  &__number{
    color: rgb(32, 32, 39);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 10px 16px;
    flex-direction: row;
  }
  &__name{
    color: rgb(32, 32, 39);
    font-weight: 700;
    font-size: 32px;
  }
}

.container{
  display: flex;
  flex-direction: column;
  &__title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 72px;
  }
  &__games{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__box{
    display: flex;
    flex-direction: column;
  }
  &__block{
    border-radius: 30px;
    border: transparent;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    column-gap: 32px; 
    &_lrg{
      height: 500px;
    }
    &_sml{
      height: 500px;
    }
  }
  &__block-two{
    border-radius: 30px;
    border: transparent;
    background-color: rgb(255, 255, 255);
    display: flex;
    column-gap: 32px; 
  }
  &__background{
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 50%;
    &_one{
      background-color: rgb(173, 97, 255);
    }
    &_two{
      background-color: rgb(253, 173, 0);
    }
    &_three{
      background-color: rgb(86, 94, 239);
    }
    &_four{
      background-color: rgb(39, 26, 88);
    }
    &_five{
      background-color: rgb(153, 209, 0);
    }
    &_six{
      background-color: rgb(39, 26, 88);
    }
  }
  &__img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__img-sml{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__img-emo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    pointer-events: none;
  }
  &__footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
  }
  &__name{
    padding-left: 48px;
    padding-top: 48px;
    font-size: 48px;
    font-weight: 700;
    color: rgb(32, 32, 39);
  }
  &__name-two{
    padding-top: 48px;
    font-size: 48px;
    font-weight: 700;
    color: rgb(32, 32, 39);
    &_max{
      max-width: 250px;
    }
  }
  &__text{
    padding-top: 24px;
    padding-left: 48px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(32, 32, 39);
    padding-bottom: 36px;
  }
  &__text-two{
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(32, 32, 39);
  }
  &__btn{
    width: 247px;
    height: 66px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    margin-left: 48px;
  }
  &__btn-two{
    width: 247px;
    height: 66px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    margin-top: 36px;
  }
  &__btn:hover{
    cursor: pointer;
    background: rgb(255, 255, 255);
  }
  &__btn-two:hover{
    cursor: pointer;
    background: rgb(255, 255, 255);
  }
  &__link{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  &__link:hover{
    color: rgb(0, 0, 0);
  }
  &__link-two{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  &__link-two:hover{
    color: rgb(0, 0, 0);
  }
  &__img-emo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    object-fit: cover;
    pointer-events: none;
  }
}

.footer{
  padding-left: 120px;
  padding-right: 120px;
  background-color: rgb(189, 237, 53);
  height: 150px;
  margin-top: 144px;
  &__text{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    padding-top: 60px;
    }
}
